@use 'sass:math';

@import 'fonts';
@import 'others';

$bgColor: #fff;
$color: #333333;
$grayColor: #4f4f4f;
$orangeColor: #f2994a;
$lightGrayColor: #c4c4c4;

$minWidth: 375;
$containerWidth: 970;
$containerPadding: 24;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	&::selection {
		display: none;
	}
}
ul {
	list-style: none;
}

._lock {
	overflow: hidden;
	touch-action: none;
}

body {
	color: $color;
	min-height: 100vh;
	font-family: 'Montserrat';
	background-color: $bgColor;
}

[class*='__container'] {
	margin: 0 auto;
	box-sizing: content-box;
	padding: 0 rem(math.div($containerPadding, 2));
	max-width: rem($containerWidth - $containerPadding);
}

.section-resipe {
	@include adaptiv-value('padding-top', 50, 30);
	@include adaptiv-value('padding-bottom', 50, 30);
	&__title {
		color: #000;
		line-height: percent(64, 48);
		font-family: 'Playfair Display';
		@include adaptiv-value('font-size', 48, 24);
		&:not(:last-child) {
			margin-bottom: rem(12);
		}
	}
	&__text {
		font-weight: 500;
		color: $grayColor;
		font-style: italic;
		max-width: rem(612);
		column-gap: rem(12);
		display: inline-flex;
		padding-right: rem(30);
		align-items: flex-start;
		line-height: percent(17, 14);
		@include adaptiv-value('font-size', 14, 12);
		&::before {
			// font-size: rem(12);
			color: $lightGrayColor;
			transform: translate(0, rem(5));
			@include adaptiv-value('font-size', 12, 9);
		}
		&:not(:last-child) {
			@include adaptiv-value('margin-bottom', 40, 15);
		}
	}
	&__image {
		img {
			object-fit: cover;
			object-position: center;
		}
	}
}

.section-ingredients {
	&__container {
		display: flex;
		column-gap: rem(165);
		align-items: flex-start;
		@include adaptiv-value('column-gap', 165, 50, $containerWidth, 768);
		@media (max-width: em(767.98)) {
			flex-wrap: wrap-reverse;
		}
	}
}
.recipe-block {
	flex: 1 1 auto;
}
.metrics-block {
	flex: 0 0 rem(215);
	border-radius: 12px;
	background: #ffffff;
	@media (min-width: em(767.98)) {
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
		@include adaptiv-value('padding-top', 50, 30, 1440, 768, 0);
		@include adaptiv-value('padding-left', 40, 20, 1440, 768, 0);
		@include adaptiv-value('padding-right', 40, 20, 1440, 768, 0);
		@include adaptiv-value('padding-bottom', 50, 30, 1440, 768, 0);
	}
	@media (max-width: em(767.98)) {
		gap: rem(20);
		display: flex;
		flex: 1 1 auto;
		flex-wrap: wrap;
		margin-bottom: em(30);
	}
	&__item {
		display: grid;
		flex: 1 1 auto;
		cursor: pointer;
		gap: rem(5) rem(8);
		grid-template-rows: auto auto;
		grid-template-columns: rem(36) auto;
		@include adaptiv-value('row-gap', 5, 0);
		@media (min-width: em(767.98)) {
			&:not(:last-child) {
				margin-bottom: em(40);
			}
		}
		@media (max-width: em(767.98)) {
			grid-template-columns: auto 1fr;
			& * {
				align-self: center;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				.metrics-block__icon::before,
				.metrics-block__info {
					color: $orangeColor;
				}
			}
		}
	}
	&__icon {
		grid-row-end: 3;
		grid-row-start: 1;
		&::before {
			color: $grayColor;
			transition: color 0.3s ease 0s;
			@include adaptiv-value('font-size', 36, 22, 768, 375);
		}
	}
	&__title {
		color: #bdbdbd;
		font-weight: 700;
		font-size: rem(12);
		line-height: percent(14, 12);
	}
	&__info {
		font-weight: 500;
		font-size: rem(14);
		line-height: percent(17, 14);
		transition: color 0.3s ease 0s;
	}
}

.ingr-recipe {
	&__title {
		line-height: percent(32, 24);
		font-family: 'Playfair Display';
		@include adaptiv-value('font-size', 24, 22);
		&:not(:last-child) {
			margin-bottom: em(32, 24);
		}
	}
	&__item {
		&:not(:last-child) {
			margin-bottom: em(32, 18);
		}
	}
	&__list-item {
		display: flex;
		align-items: flex-start;
		@include adaptiv-value('column-gap', 15, 8);
		&:not(:last-child) {
			margin-bottom: em(12);
		}
	}
	&__label-item {
		display: block;
		cursor: pointer;
		height: rem(21);
		overflow: hidden;
		flex: 0 0 rem(21);
		text-align: center;
		border-radius: rem(4);
		border: rem(1) solid #828282;
		transition: all 0.3s ease 0s;
		&::before {
			opacity: 0;
			color: #fff;
			font-weight: 700;
			line-height: 140%;
			transition: opacity 0.3s ease 0s;
		}
	}
	&__input:checked + &__label-item {
		background-color: $orangeColor;
		border: rem(1) solid $orangeColor;
		&::before {
			opacity: 1;
		}
	}
	&__input {
		display: none;
	}
	&__list-title {
		font-style: italic;
		line-height: percent(24, 18);
		font-family: 'Playfair Display';
		@include adaptiv-value('font-size', 18, 16);
		&:not(:last-child) {
			margin-bottom: em(32, 18);
		}
	}
	&__input {
		width: 100%;
		height: 100%;
	}
	&__label-text {
		cursor: pointer;
		line-height: percent(25, 16);
		@include adaptiv-value('font-size', 16, 14);
		span {
			font-weight: 700;
		}
		&_last span {
			font-weight: 500;
			font-style: italic;
		}
		&::selection,
		& span::selection {
			display: none;
		}
	}
}

.instr-recipe {
	padding-top: rem(30);
	&__title {
		line-height: percent(32, 24);
		font-family: 'Playfair Display';
		@include adaptiv-value('font-size', 24, 22);
		&:not(:last-child) {
			margin-bottom: em(30, 24);
		}
	}
	&__item {
		display: flex;
		column-gap: rem(15);
		align-items: flex-start;
		&:not(:last-child) {
			@include adaptiv-value('margin-bottom', 35, 15);
		}
	}
	&__no {
		color: #fff;
		display: flex;
		height: rem(36);
		font-weight: 700;
		flex: 0 0 rem(36);
		font-size: rem(24);
		text-align: center;
		border-radius: rem(6);
		align-items: flex-start;
		justify-content: center;
		background: $orangeColor;
		line-height: percent(32, 24);
		font-family: 'Playfair Display';
	}
	&__text {
		color: #000;
		line-height: percent(24, 16);
		span {
			font-weight: 700;
		}
	}
}

.section-link {
	@include adaptiv-value('padding-top', 65, 30);
	@include adaptiv-value('padding-bottom', 65, 40);
	&__container {
	}
	a {
		color: #bdbdbd;
		font-style: italic;
		text-decoration: none;
		line-height: percent(24, 16);
		@include adaptiv-value('font-size', 16, 13);
		@media (min-width: em(474.98)) {
			br {
				display: none;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.footer {
	padding: rem(25) 0;
	text-align: center;
	a {
		color: #828282;
		font-weight: 500;
		font-size: rem(14);
		text-decoration: none;
		line-height: percent(17, 14);
		span {
			font-weight: 700;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
